.hello-bar-slider { 
    width: 100%; 
    position: sticky; 
    z-index: 4; 
}
.hello-bar-slider .swiper-wrapper{
    height: auto;
}
.hello-bar { 
    width: 100%; 
    padding: 8px; 
    text-align: center; 
    font-size: 18px;
}

.hello-bar .cta-button { 
    padding: 5px 12px; 
    border: none; 
    text-decoration: none; 
    border-radius: 3px; 
    margin-left: 20px; 
    font-weight: 600;
    text-wrap: nowrap;
}

.hello-bar-top { top: 0; }
.hello-bar-footer { bottom: 0; }

.hello-bar-slider.swiper-container { 
    overflow: hidden; 
    position: sticky; 
    z-index: 11;
}

.hello-bar-slider .swiper-button-next, 
.hello-bar-slider .swiper-button-prev,
.hello-bar-slider .swiper-button-next-footer, 
.hello-bar-slider .swiper-button-prev-footer { 
    width: 25px; 
    height: 25px; 
    top: 50%; 
    transform: translateY(40%); 
    z-index: 10; 
    position: absolute;
}
.hello-bar-slider .swiper-button-next-footer, 
.hello-bar-slider .swiper-button-prev-footer{
    transform: translateY(-50%); 
}

.hello-bar-slider .swiper-button-next:after, 
.hello-bar-slider .swiper-button-prev:after,
.hello-bar-slider .swiper-button-next-footer:after, 
.hello-bar-slider .swiper-button-prev-footer:after { 
    font-size: 15px; 
    font-weight: 800;
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #FFFFFF;
    
}
.hello-bar-slider .swiper-button-next-footer:after{
    content: 'next';
}
.hello-bar-slider .swiper-button-prev-footer:after {
    content: 'prev';
}

.hello-bar-slider .swiper-button-prev,
.hello-bar-slider .swiper-button-prev-footer { left: 10px; }
.hello-bar-slider .swiper-button-next,
.hello-bar-slider .swiper-button-next-footer { right: 10px; }

.hello-bar-slider .hello-bar-desktop {
    display: inline;
}

.hello-bar-slider .hello-bar-mobile {
    display: none;
}

@media (max-width: 768px) {
    .hello-bar-slider .hello-bar-desktop {
        display: none;
    }
    
    .hello-bar-slider .hello-bar-mobile {
        display: inline;
    }
    .hello-bar .cta-button { 
        padding: 5px 10px;
        display: block;
        margin: 5px auto 0;
        width: max-content;
    }
    .hello-bar .cta-button.underline-link{
        line-height:15px;
        margin:2px auto 10px auto;
    }
    .hello-bar {
        padding: 10px;
        font-size: 16px;
    }
    .mobile-toggled .hello-bar-slider.swiper-container { 
        z-index: 10;
    }
}